.fp-block[data-align=center] .fp-block-search .fp-block-search__inside-wrapper{
  margin:auto;
}

.fp-block-search :where(.fp-block-search__button){
  align-items:center;
  border-radius:initial;
  display:flex;
  height:auto;
  justify-content:center;
  text-align:center;
}

.fp-block-search__inspector-controls .components-base-control{
  margin-bottom:0;
}